<h1 id="titoloAbout">Il <span lang="en">team</span> di sviluppo di <span lang="en">Clue Catchers</span>:</h1>
<dl id="membriTeam">
    <dt>Linda Barbiero</dt>
    <dd>
        <img src="assets/images/img_placeholder.png" alt="">
        <dl class="membro">
            <dt>Contatti: </dt>
            <dd>linda.barbiero.1@studenti.unipd.it</dd>
            <dt>Biografia: </dt>
            <dd>Studentessa dell&apos;Università di Padova della Laurea Triennale di Informatica</dd>
            <dt>Libro preferito: </dt>
            <dd>CIAO</dd>
        </dl>
    </dd>
    <dt>Andrea Mangolini</dt>
    <dd>
        <img src="assets/images/img_placeholder.png" alt="">
        <dl class="membro">
            <dt>Contatti: </dt>
            <dd>andrea.mangolini@studenti.unipd.it</dd>
            <dt>Biografia: </dt>
            <dd>Studente dell&apos;Università di Padova della Laurea Triennale di Informatica</dd>
            <dt>Libro preferito: </dt>
            <dd lang="en">By the Pricking of My Thumbs</dd>
        </dl>
    </dd>
    <dt>Luca Romio</dt>
    <dd>
        <img src="assets/images/img_placeholder.png" alt="">
        <dl class="membro">
            <dt>Contatti: </dt>
            <dd>luca.romio@studenti.unipd.it</dd>
            <dt>Biografia: </dt>
            <dd>Studente dell&apos;Università di Padova della Laurea Triennale di Informatica. Appassionato di informatica, libri e videogiochi.</dd>
            <dt>Libro preferito: </dt>
            <dd>Il Mastino dei <span lang="en">Baskerville</span> di <span lang="en">Arthur Conan Doyle</span></dd>
        </dl>
    </dd>
    <dt>Samuele Visentin</dt>    
    <dd>
        <img src="assets/images/img_placeholder.png" alt="">
        <dl class="membro">
            <dt>Contatti: </dt>
            <dd>samuele.visentin.2@studenti.unipd.it</dd>
            <dt>Biografia: </dt>
            <dd>Studente dell&apos;Università di Padova della Laurea Triennale di Informatica</dd>
            <dt>Libro preferito: </dt>
            <dd lang="en">Berserk</dd>
        </dl>
    </dd>
</dl>