<section id="chapterContent">
    <header>
        <h1>Conclusioni</h1>
    </header>
    <p>Complimenti <span lang="en">detective</span>!</p>
    <p>Sapevo che ce l'avresti fatta, il colpevole ha confessato ed è attualmente dietro le sbarre.</p>
    <p id="formBreaker">Se vuoi lasciarci una recensione, puoi inserirla nel form di questa pagina.</p>
    <p>La lunghezza massima accettata è di 255 caratteri.</p>
    <p>Potrai modificarla in seguito, tornando su questa pagina.</p>
    <form id="recensioneForm" action=[actionSave] method="post">        
        <h2 id="recensioneQuestion"><label for="review">Recensione per [caseTitle]:</label></h2>
        [errorRecensione]
        [conferma]   
        <textarea id="review" name="review" placeholder="Scrivi qui..." rows="5" cols="50" maxlength="255" required>[text]</textarea>
        <input type="submit" value="Invia">
    </form>    
    [cancella]
</section>