      <h1 id="titoloFAQ" lang="en">Frequently Asked Questions</h1>
      <section class="singleFAQ">
        <header>
          <h2>Cos&apos;è <span lang="en">Clue Catchers</span>?</h2>
        </header>
        <p><span lang="en">Clue Catchers</span> è un nuovo modo di scoprire storie di mistero grazie ad un&apos;interfaccia interattiva che ti guida nella risoluzione dei casi, come un vero <span lang="en"> detective.</span></p>
      </section>
      <section class="singleFAQ">
        <header>
          <h2>Perchè devo registrarmi su <span lang="en">Clue Catchers</span> per provare l&apos;esperienza?</h2>
        </header>        
        <p>La registrazione è necessaria per garantire al <span lang="en">detective</span> in erba di avere la possibilità di salvare i progressi e continuare il caso più avanti.
          Un utente registrato è anche in grado di fornire una valutazione dell&apos;esperienza dopo aver concluso la storia, cosa necessaria al continuo miglioramento del sito.</p>
      </section>
      <section class="singleFAQ">
        <header>
          <h2>Che tipo di dati raccogliete sui vostri utenti?</h2>
        </header>
        <p>Nonostante il tema del nostro sito, i vostri dati sono al sicuro! Il <span lang="en">team</span> di <span lang="en">Clue Catchers</span> si batte per mantenere la <span lang="en">privacy</span> dell&apos;utente chiedendo solo il minimo necessario per la registrazione (un semplice indirizzo di posta elettronica).</p>
      </section>
      <section class="singleFAQ">
        <header>
          <h2>Quante storie sono pensate o in programma?</h2>
        </header>
        <p>Il nostro <span lang="en">team</span> è sempre al lavoro per fornire più storie e sfide ai propri utenti. Questo avviene tramite nuove storie, storie più complesse e collaborazioni con scrittori famosi (<span lang="en">Coming soon!</span>).</p>
      </section>
      <section class="singleFAQ">
        <header>
          <h2>Un libro che mi piace tantissimo sarebbe perfetto per <span lang="en">Clue Catchers</span>, potreste adattarlo?</h2>
        </header>
        <p>In futuro prevediamo la possibilità che i nostri utenti più attivi siano in grado di suggerire libri tramite sondaggi e suggerimenti liberi. Questa funzione non è al momento disponibile ma è in cima alla lista delle nostre priorità.</p>
      </section>
      <section class="singleFAQ">
        <header>
          <h2><span lang="en">Clue Catchers</span> per varie ragioni non è usufribile da un mio conoscente, come si pone il <span lang="en">team</span> di <span lang="en">Clue Catchers</span>?</h2>
        </header>
        <p>Il nostro team punta a creare un&apos;esperienza utente il più accessibile possibile ma a volte questo non basta. Una sezione di <span lang="en">feedback</span> mirata è in sviluppo per dimostrare la volontà del <span lang="en">team</span> di mantenere questo impegno.</p>
      </section>