<section class="frontPageContent">
    <header>
        <h1 class="frontPageTitles">Immergiti in appassionanti storie</h1>
    </header>    
    <p>Hai mai sognato di fare il <span lang="en">detective</span>? Di risolvere misteri? Hai la passione per i gialli? <span lang="en">Clue Catchers</span> è il posto giusto per te.
    Risolvi casi investigativi tramite semplici domande alle quali dovrai rispondere grazie agli indizi che scopri.</p>
</section>
<section class="frontPageContent">
    <header class="lastCase">
        <h2 class="frontPageTitles">Il nostro ultimo caso</h2>
    </header>
    <div class="caseContainer">
        [CaseImg]
        <h3 class="caseTitle">[CaseTitle]</h3>
    </div>
    <p class="frontPageCaseDesc">
        [CaseDesc]
    </p>   
</section>