@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-VariableFont_wdth.ttf);
}
*{
    font-family: 'Inconsolata', sans-serif;
}


@media screen and (max-width:1200px) {
    .primary-box{
        width: 40%;
    }
}

/*Flex components*/
.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.primary-box{
    width: 20%;
    height: 10em;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: #d84c4c;
    color: white;
    max-width: 200px;
}

@media screen and (max-width:600px) {
    .primary-box{
        width: 90%;
    }
}