@import "palette.css";

@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-VariableFont_wdth.ttf);
}

* {
    padding: 0;
    margin: 0;
}

:root {
    /* HEADER PARAMETERS */
    --headerFontSize: 3em;

    /* MENU PARAMETERS */
    --menuFontSize: 1.1em;
    --menuLeftPadding: 1em;
    --menuRightPadding: 1em;
    --iconLeftPadding: 2em;
    --iconPosition: 0.1em 0.3em;

    /* CONTENTMENU PARAMETERS */
    --contentMenuWidth: 12.2em;
    --contentMenuHeight: 100vh;

    /* PAGE-CONTENT PARAMETERS */
    --contentLeftPadding: 17em;
    --contentRightPadding: 1.5em;
    --small-contentLeftPadding: 1.5em;

    /* LINK COLORS */
    --aLink: 255, 255, 255;
    --aVisited: 220, 132, 245;
}

html {
    height: fit-content;
    font-size: 100%;
    font-family: 'Inconsolata', sans-serif;
    line-height: 1.5em;
    margin: auto;
    background-color: rgb(var(--primary500));
}

/*************************************
    HEADER STYLE
*************************************/

#pageHeader {
    background-color: rgb(var(--secondary800));
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#pageHeader #menuButton {
    margin: 0.2em;
    text-indent: -999em;
    min-width: 2em;
    min-height: 2em;
    background-color: transparent;
    border: 0;
    background-image: url(../icons/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

header #logo {
    font-size: 1.5em;
    text-indent: -999em;
    background-image: url(../images/logo.png);
    min-width: 7.5em;
    min-height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5em;
}

/*************************************
    GENERIC MENU STYLE
*************************************/

.menu {
    font-weight: 600;
    background-color: rgb(var(--secondary800));
    color: rgb(var(--lightColor));
    padding-left: var(--menuLeftPadding);
    padding-right: var(--menuRightPadding);
    font-size: var(--menuFontSize);
    /*
    display: flex;
    flex-direction: column;*/
}

.menu a:link {
    color: rgb(var(--aLink));
}

.menu a:visited {
    color: rgb(var(--aVisited));
}

.menu a[disabled] {
    pointer-events: none; 
    display: inline-block;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
}

.menu .menuSelected {
    background-color: rgb(var(--secondary400));
    border-radius: 5px;
    color: rgb(var(--darkColor));
    font-weight: 800;
}
/*
.menu .menuCases {
    flex: 1;
}

.menu .menuBack {
    padding-bottom: 20em;
}*/

/*************************************
    USER TOOLBAR STYLE
*************************************/

#userToolbar {
    padding: 0;
    margin-left: auto;
}

#userToolbar ul {  
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#userToolbar #loginButton {
    background-image: url(../icons/login.svg);
    background-position: var(--iconPosition);
    background-repeat: no-repeat;
    padding-left: var(--iconLeftPadding);
}

#userToolbar #signupButton {
    margin-left: 1em;
    background-image: url(../icons/investigate.svg);
    background-position: var(--iconPosition);
    background-repeat: no-repeat;
    padding-left: var(--iconLeftPadding);
}

#userToolbar #accountButton {
    margin-left: 1em;
    background-image: url(../icons/person.svg);
    background-position: var(--iconPosition);
    background-repeat: no-repeat;
    padding-left: var(--iconLeftPadding);
}

#userToolbar #logoutButton {
    margin-left: 1em;
    background-image: url(../icons/logout.svg);
    background-position: var(--iconPosition);
    background-repeat: no-repeat;
    padding-left: var(--iconLeftPadding);
}

/*************************************
    CONTENT MENU STYLE
*************************************/

#contentMenu {
    float: left;
    overflow: hidden;    
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    top: 0;
    width: var(--contentMenuWidth);
    height: var(--contentMenuHeight);
}

#menuClose {
    margin: 2em 0;
    text-indent: -999em;
    min-width: 2em;
    min-height: 2em;
    background-color: transparent;
    border: 0;
    background-image: url(../icons/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
/*
#contentMenu.toggleMenu{
    display: none;
}*/

#contentMenu .menuSection {
    font-weight: 600;
    font-size: 1.3em;
    padding: 0.4em 0;
}

#contentMenu ul {
    padding-bottom: 1em;
}

.menu .menuButton {
    background-position: var(--iconPosition);
    background-repeat: no-repeat;
    padding-left: var(--iconLeftPadding);
}

#homeButton {
    background-image: url(../icons/home.svg);
}

#homeButton.menuSelected {
    background-image: url(../icons/darkIcons/home.svg);
}

#casesButton {    
    background-image: url(../icons/lista.svg);
}

#casesButton.menuSelected {    
    background-image: url(../icons/darkIcons/lista.svg);
}

#aboutButton {    
    background-image: url(../icons/computer.svg);
}

#aboutButton.menuSelected {    
    background-image: url(../icons/darkIcons/computer.svg);
}

#faqButton {    
    background-image: url(../icons/help.svg);
}

#faqButton.menuSelected {    
    background-image: url(../icons/darkIcons/help.svg);
}

#caseButton {
    background-image: url(../icons/evenlope.svg);
}

#caseButton.menuSelected {
    background-image: url(../icons/darkIcons/evenlope.svg);
}

#timelineButton {
    background-image: url(../icons/calendario.svg);
}

#timelineButton.menuSelected {
    background-image: url(../icons/darkIcons/calendario.svg);
}

#witnessButton {
    background-image: url(../icons/group.svg);
}

#witnessButton.menuSelected {
    background-image: url(../icons/darkIcons/group.svg);
}

#cluesButton {
    background-image: url(../icons/assignment.svg);
}

#cluesButton.menuSelected {
    background-image: url(../icons/darkIcons/assignment.svg);
}

#chapterButton {
    background-image: url(../icons/investigate.svg);
}

#chapterButton.menuSelected {
    background-image: url(../icons/darkIcons/investigate.svg);
}
/*
#backButton {
    background-image: url(../icons/logout.svg);
}*/

/*************************************
    BREADCRUMB STYLE
*************************************/

#breadcrumb {
    padding-left: var(--contentLeftPadding);
    padding-right: var(--contentRightPadding);
    margin-top: 1em;
    margin-bottom: 1em;
}

#breadcrumb p {
    display: inline;
    background-color: rgb(var(--secondary800));
    padding: 0.4em;
    border-radius: 5px;
    color: rgb(var(--lightColor));
}

#breadcrumb a:link {
    color: rgb(var(--aLink));
}

#breadcrumb a:visited {
    color: rgb(var(--aVisited));
}
/*
#breadcrumb.toggleMenu {
    padding-left: var(--small-contentLeftPadding);
}*/

/*************************************
    NAV HELP STYLE
*************************************/

.navHelp {
    position: absolute;
    left: -999em;
}

.navHelp:focus {
    position: inherit;
    left: auto;
}

/*************************************
    BACK TO TOP STYLE
*************************************/

#backToTop {
    padding: 0.4em;
    border-radius: 20px;
    background-color: rgb(var(--secondary800));
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    text-indent: -999em;
    min-width: 1.5em;
    min-height: 1.5em;
    background-image: url(../images/toTop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

#backToTop.show {
    display: block;
}

#backToTop:link {
    color: rgb(var(--aLink));
}

#backToTop:visited {
    color: rgb(var(--aVisited));
}

/*************************************
    MAIN STYLE
*************************************/

#content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: var(--contentLeftPadding);
    padding-right: var(--contentRightPadding);
    margin: auto;
    max-width: 70em;
    color: rgb(var(--darkColor));
}
/*
#content.toggleMenu {
    padding-left: var(--small-contentLeftPadding);
}*/

#content h1 {
    margin-bottom: 1em;
}

#content h2 {
    margin-bottom: 0.8em;
}

/*************************************
    MAIN CASE STYLE
*************************************/

#content .case {
    padding: 1em;
    background-color: rgb(var(--primary300));
    border: 2px solid rgb(var(--darkColor));
    border-radius: 20px;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
}

#content .case div {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content .case img {
    margin: auto 0;
    order: 1;
    max-height: 10em;
    max-width: 10em;
    border-radius: 10px;
}

#content .case header {
    margin: 0 1em 1em;
}

#content .case p {
    margin: 0 1em 1em 1em;
}

#content .case a {
    align-self: flex-end;
    margin-top: auto;
    background-color: rgb(var(--secondary800));
    padding: 0.4em;
    border-radius: 5px;
}

#content .case a:link {
    color: rgb(var(--aLink));
}

#content .case a:visited {
    color: rgb(var(--aVisited));
}

/*************************************
    ACCEDI REGISTRATI STYLE
*************************************/

h1#login-signup {
    background-image: url(../icons/darkIcons/person.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: var(--iconLeftPadding);
    background-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
}


form.center-form {
    border: 2px solid rgb(var(--darkColor));
    border-radius: 10px;
    background-color: rgb(var(--primary300));
    max-width: 18.7em;
    /*min-width: 12.5em;*/
    padding: 2em;
    margin: 5em auto;
}

form div#input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

form.center-form label {
    padding: 0.5em;
    width: 5em;
}

form.center-form input {
    margin: auto;
    padding: 0.3em;
    border-radius: 5px;
    border: 1px solid;
    width: 12em;
    height: 1.3em;
}

form input[type="submit"] {
    width: auto;
    display: block;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(var(--secondary800));
    border-radius: 5px;
    border: 0;
    padding: 0.5em;
    color: rgb(var(--lightColor));
    font-weight: 600;
    height: auto;
}

form input[type="submit"]:hover {
    opacity: 0.5;
}

input#username {
    order: 2;
}

input#password{
    order: 4;
}

#labelUsername {
    order: 1;
}

#labelPassword {
    order: 3;
} 

#labelConfermaPassword {
    order: 5;
}

#confermaPassword {
    order: 6;
}

p#error-message {
    color: red;
    font-weight: 600;
    text-align: center;
    background-image: url(../images/warning.svg);
    background-repeat: no-repeat;
    padding-top: 1.5em;
    background-position: center top;
    margin-top: 1em;
}

#displayCriteria dt {
    font-weight: bold;
}

#displayCriteria dd {
    margin-left: 1em;
}

#displayCriteria dd::before {
    content: '\2022';
    margin-right: 0.2em;
    font-size: 1.5em;
}

#displayCriteria h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

/************************************
    WITNESSES STYLE
*************************************/

#content .witness {
    background-color: rgb(var(--primary300));
    padding: 1em;
    border-radius: 0 0 20px 20px;
    margin-bottom: 2em;
}

#content .witness dl {
    margin-top: 1.2em;
}

#content .witness dt::before {
    content: "";
    display: block;
}

#content .witness dd, #content .witness dt {
    display: inline;
}

#content .witness dt {
    font-weight: bold;
}

#content .witness dd::after {
    content: ".";
}

/************************************
    ACCOUNT STYLE
************************************/

div.center-account {
    border: 2px solid rgb(var(--darkColor));
    border-radius: 10px;
    background-color: rgb(var(--primary300));
    max-width: 18.7em;
    /*min-width: 12.5em;*/
    padding: 2em;
    margin: 1em auto;
    min-width: 12.5px;
    max-width: 40em;
}

form#userform input, form#passwordform input{
    margin: auto;
    padding: 0.3em;
    border-radius: 5px;
    border: 1px solid;
    width: 12em;
    height: 1.3em;
}

form#userform label, form#passwordform label {
    padding: 0.5em;
    width: 9em;
}

form#userform input[type="submit"], form#passwordform input[type="submit"]{
    height: 2em;
    margin-top: 0.5em;
}

form#userform, form#passwordform {
    max-width: 25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

form#userform {
    padding-bottom: 0.5em;
}

form#passwordform {
    margin-top: 1.2em;
}

h1#admin-title {
    background-image: url(../icons/darkIcons/admin.svg);
    background-repeat: no-repeat;
    padding-left: 1.8em;
    background-size: 1.5em;
    padding-top: 0.2em;
    background-position: left center;
    padding-bottom: 0.2em;
}

h1#user-title {
    background-image: url(../icons/darkIcons/person.svg);
    background-repeat: no-repeat;
    padding-left: 1.8em;
    background-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    background-position: left center;
    padding-bottom: 0.2em;
}

table#indagini caption {
    font-weight: bold;
    font-size: 1.1em;
}

table#indagini {
    margin: 1em auto 1em auto;
    padding-top: 0.2em;
    border-collapse: collapse;
}

table#indagini th, table#indagini td {
    border: 1px solid black;
    text-align: center;
    padding: 0.4em;
}

table#indagini thead th:first-child {
    min-width: 6em;
}

table#indagini thead tr:first-child th{
    background-color: rgb(var(--secondary600));
    color: rgb(var(--lightColor));
}

table#indagini tbody tr:nth-child(odd) {
    background-color: rgb(var(--primary300));
}

table#indagini tbody tr:nth-child(even) {
    background-color: rgb(var(--primary500));
}

table#indagini tbody tr td p {
    background-color: rgb(var(--secondary800));
    border-radius: 5px;
    text-align: center;
}

table#indagini a:link {
    color: rgb(var(--aLink));
}

table#indagini a:visited {
    color: rgb(var(--aVisited));
}

p#sumTabellaIndagini {
    text-indent: -999em;
    position: absolute;
}

/************************************
    RECENSIONI STYLE
************************************/

div#contenitore-recensioni {
    max-width: 40em;
    min-width: 12.5em;
    margin: auto;
    background-color: rgb(var(--primary300));
    padding: 1em;
    border-radius: 5px;
    border: 2px solid black;
}

p#sumTabellaRecensioni {
    text-indent: -999em;
    position: absolute;
}

/************************************
    CLUE STYLE
************************************/

#content .clue {
    border: 2px solid rgb(var(--darkColor));
    background-color: rgb(var(--primary300));
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 2em;
    overflow-x: auto;
}

#content .clue h3 {
    padding: 0.5em 0;
    border-bottom: 2px solid rgb(var(--darkColor));
}

#content .clue header + p, #content .clue header + ul, #content .clue header + section {
    margin-top: 0.5em;
}

#content .clue p {
    margin-bottom: 0.2em;
}

#content .clue ul {
    margin-left: 1.2em;
}

#content .clue img {
    width: auto;
    padding: 1em 0;
    display: block;
    margin: auto;
    max-height: 70vh;
    max-width: 90%;
}

#content .clue table {
    border-collapse: collapse;
    margin: auto;
}

#content .clue th {
    color: rgb(var(--lightColor));
    background-color: rgb(var(--secondary600));
}

#content .clue #tabSummary {
    text-indent: -999em;
}

#content .clue td, #content .clue th {
    border: 1px solid rgb(var(--darkColor));    
    text-align: left;
    padding: 0.3em 0.8em;
}

tr:nth-child(even) {
    background-color: rgb(var(--primary500));
}

tr:nth-child(odd) {
    background-color: rgb(var(--primary300));
}

/*************************************
    MAIN LETTER STYLE
*************************************/

#content section.letter {
    background-color: rgb(var(--primary300));
    background-image: url(../images/letterStamp.svg);
    background-position: top 1em right 1em;
    padding: 6.5em 1em 0;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    border: 2px solid rgb(var(--darkColor));
}

#content section.letter time {
    font-weight: bold;
}

#content section.letter ul {
    padding-left: 1.8em;
}

#content section.letter footer{
    padding: 1em 0;
}

#content section.letter footer .signature {
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
}

/*************************************
    MAIN TIMELINE STYLE
*************************************/

#content section.timeline dl {
    display: grid;
    grid-template-columns: max-content auto;    
    background-color: rgb(var(--primary300));
    gap: 0.5em 1em;
    grid-template-columns: minmax(min-content, max-content);
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid rgb(var(--darkColor));
}

#content section.timeline dt, #content section.timeline dd {
    background-color: rgb(var(--primary300));
}
  
#content section.timeline dt {
    font-weight: bold;
    grid-column-start: 1;
}
  
#content section.timeline dd {
    grid-column-start: 2;
}

/*************************************
    MAIN ARTICLEPIECE STYLE
*************************************/

#content section.articlePiece {
    border: 2px solid rgb(var(--darkColor));
    background-image: url(../images/article.png);
    margin-bottom: 2em;
}

#content section.articlePiece p {    
    margin: 0;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#content section.articlePiece p:last-of-type {
    margin-bottom: 1em;    
}

#content section.articlePiece header{
    background-image: url(../images/newspaperHeader.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 1em right 1em;
    padding-top: 8em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-weight: 500;
    font-size: large;
}

/*************************************
    FRONT PAGE STYLE
*************************************/
#content section.frontPageContent{
    display: block;
    background-color: rgb(var(--secondary800));
    background-position: center;
    background-size: auto;
    padding: 2em;
    color: white;
    font-size: large;    
}

#content section.frontPageContent h2.frontPageTitles{
    display: block;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

#content section.frontPageContent img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    max-height: 45%;
    max-width: 95%;
    border-color: rgb(var(--primary300));
    border-width: 2px;
}

#content section.frontPageContent .frontPageCaseDesc{
    margin: auto;
    max-height: 45%;
    max-width: 95%;
    background-color: rgb(var(--secondary600));
    font-size: large;
    padding: 1em;
}

/*************************************
    ERROR PAGE STYLE
*************************************/
#content h1.errorPageTitle{
    margin: 0.5em 0;
    font-size: 4em;
    text-align: center;
    line-height: 1;
}

#content h2.errorPageVerbose{
    margin: 0.4em 0;
    font-size: 3em;
    text-align: center;
    line-height: 1;
}

#content h3.errorPageJoke{
    font-size: 2em;
    text-align: center;
    padding: 0.3em;
    line-height: 1.5em;
    font-weight: normal;
}

.errorPageImg {
    display: block;
    margin: auto;
    max-width: 70%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/*************************************
    ABOUT PAGE STYLE
*************************************/
#titoloAbout{
    text-align: center;
}

#membriTeam{
    margin:auto;
    width: 95%;
    max-width: 1024px;
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column ;
}

#membriTeam > dt{
    background-color: rgb(var(--secondary600));
    border: 1px solid black;
    padding: 0.5em;
    font-size: larger;
    font-weight: bold;
    color: white;
    display: flex;
}

#membriTeam > dd{
    background-color: rgb(var(--primary400));
    border: 1px solid black;
    border-top: none;
    padding: 0.5em;
    margin-bottom: 1em;
    display: flex;
}

#membriTeam > dd img{
    width: 15%;
    float: left;
    margin-right: 1em;
}

.membro dt{
    float: left;
    font-weight: bold;

}

/*************************************
    FAQ PAGE STYLE
*************************************/
#titoloFAQ{
    text-align: center;
    font-weight: bolder;
}

.singleFAQ{
    border-top: 2px solid rgb(var(--secondary600));
    border-left: 10px solid rgb(var(--secondary600));
    border-bottom: none;
    border-right: none;
    background-color: rgb(var(--primary400));
    margin-bottom: 2em;
    padding: 0.5em;
    font-weight: bold;
    display: block;
}

.singleFAQ strong{
    font-size: large;
    font-weight: bolder;
    margin-bottom: 0.2em;
    display: inline-block;
    color: rgb(var(--secondary800));
}

.singleFAQ img{
    max-width: 1em;
    max-height: 1em;
    display: inline-block;
}

/*************************************
    ZOOM IMG STYLE
*************************************/

#imgFullPage {
    display: none;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(var(--primary300), 0.8);
}

.zoomImg {
    cursor: pointer;
}

#closeImg {
    padding: 0.4em;
    cursor: pointer;
    display: none;
    position: fixed;
    text-indent: -999em;
    z-index: 9999;
    top: 0.5em;
    right: 0.5em;
    background-color: rgb(var(--secondary800));
    border-radius: 20px;
    background-image: url(../icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}