@import "palette.css";

@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-VariableFont_wdth.ttf);
}
*{
    font-family: 'Inconsolata', sans-serif;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary700);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
}

.sidenav a:hover {
    color: var(--black);
    background-color: var(--secondary400);
}

body {
    background-color: var(--primary500);
}

.main {
    margin-left: 20%; /* Same as the width of the sidenav */
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
