@import "palette.css";
/*
@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-VariableFont_wdth.ttf);
}*/

header #logo {
    background-image: url(../images/logo_small.png);
    min-width: 2em;
    min-height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
}

#contentMenu {    
    z-index: 1;    
    position: fixed;
    top: 76px;
    float: none;
    display: none;
    -webkit-box-shadow: 10px 0 10px -8px #333;
    box-shadow: 10px 0 10px -8px #333;
}

#breadcrumb {
    margin-left: var(--small-contentLeftMargin);
}

#content {
    margin-left: var(--small-contentLeftMargin);
}

#contentMenu.toggleMenu {
    display: block;
}

#content.toggleMenu {
    max-height: calc(100vh - 76px - 56px - 16px);
    overflow-y: hidden;
}

/*************************************
    MAIN CASE STYLE
*************************************/

#content .case {
    flex-direction: column;
}

#content .case img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content .case header {
    margin-top: 1em;
}