@import "palette.css";

@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-VariableFont_wdth.ttf);
}

#contentMenu {
    padding: 0;
    width: 0;
}

main {
    margin-left: 1em;
}

#breadcrumb {
    margin-left: 1em;
}