:root {/*
    --primary300: #FAE8E2;
    --primary400: #E1B8AA;
    --primary500: #C78772;
    --primary600: #7B4D3E;
    --primary700: #673B2F;
    --primary800: #532922;
    --secondary300: #c5dfec;
    --secondary400: #8FB1C2;
    --secondary500: #5D879B;
    --secondary600: #2B5C74;
    --secondary700: #123247;
    --secondary800: #11202E;
    --errorColor: #DA2B25;
    --lightColor: #FFF;
    --darkColor: #000;*/
    --primary300: 250, 232, 226;
    --primary400: 225, 184, 170;
    --primary500: 199, 135, 114;
    --primary600: 123, 77, 62;
    --primary700: 103, 59, 47;
    --primary800: 83, 41, 34;
    --secondary300: 240, 240, 240;
    --secondary400: 143, 177, 194;
    --secondary500: 93, 135, 155;
    --secondary600: 43, 92, 116;
    --secondary700: 18, 50, 71;
    --secondary800: 17, 32, 46;
    --errorColor: 218, 43, 37;
    --lightColor: 255, 255, 255;
    --darkColor: 0, 0, 0;
}