<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ 404.php [L]
</IfModule>

ErrorDocument 400 /400.php

ErrorDocument 404 /404.php

ErrorDocument 500 /500.php

ErrorDocument 501 /500.php

ErrorDocument 502 /500.php

ErrorDocument 503 /500.php

ErrorDocument 504 /500.php

ErrorDocument 505 /500.php

ErrorDocument 507 /500.php